html {
  background-color: #ffebdb
}

body {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  float: left;
  font-style: italic;
  text-transform: uppercase;
  color: #f06d06;
  font-size: 60px;
}

.active {
  color: black;
  font-style: italic;
  font-weight: bold;
}

h1:hover {
  color: black;

}

a {
  text-decoration: none;
  color: rgb(165, 165, 165);
}

h1, p, h2, li, .labels, form {
  font-family: 'Courier New', Courier, monospace
}

ul {
  float: right;
}

li {
  display: inline;
}

header::after {
  content: "";
  clear: both;
  display: table;
}

footer {
  position: absolute;
  bottom: 0;
}